<div class="storyBox">
  <p id="5">
    Ihr gerät in einen Metereoiden Schauer, durch welchen ihr durch navigiert:
    Euer Schiff, die USS Brandad ist ein sehr robustes Forschungs- und Kampf Schiff. Denn man weiß ja nie, neu entdeckte Spezies mögen nicht immer freundlich sein. Eure Schilder waren am Anfang eurer Reise bei 100% (Schiffs Power) .
    Je Metereoiden Einschlag verliert ihr 10% Schild Power.

    Habt ihr keine Schilder mehr, so seid ihr ausgeliefert und müsst leider sterben!

    Aufgabe:
    Es wird eine zufällige Anzahl von 3-7 Einschlägen geben.
    Um einem Einschlag ausweichen zu können, muss der Spieler die Farbe des Farb-Wortes wiederholen, welches ihm 2 sekunden lang eingeblendet wird. Er hat weitere 3 Sekunden Zeit, um die Farbe (nicht, was es ist, sondern, was es beschreibt) ein zu geben. Damit der Benutzer sieht, wie lange er hat, läuft ein Timer nebenher.
    Die Wortfarbe und das Farbwort dürfen auch mal das gleiche sein ;-)
    Klein- / Großschreibung ist egal
  </p>
</div>

<div class="gameBox">
  <button>Ausweichen!</button>
</div>
