<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOS-Signal</title>
</head>
<body>
<p id="6">
  Endlich habt ihr ein Funksignal empfangen, dass Euch verrät, dass ihr eine neue Spezies entdeckt habt. Eure Scans ergeben, dass sie "Kraken" artig sind. Daher nennt ihr diese Spezies nun Kraken.
  Sie kommunizieren mit euch, jedoch ergibt sich die Nachricht erst, wenn ihr die Reihenfolge der Farben korrekt wiederholt. Erst dann erfährt ihr, ob sie feindlich oder freundlich sind.
  


</p>

</body>
</html>