<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOS-Signal</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
  <div class="storyBox">
    <p class="title">
        USS BRANDAD auf Reisen
    </p>
</div>
<div class="storyBox">
  <p id="6">
    Endlich habt ihr ein Funksignal empfangen, dass Euch verrät, <br> dass ihr eine neue Spezies entdeckt habt.<br><br>
     Eure Scans ergeben, dass sie "Kraken" artig sind. <br>Daher nennt ihr diese Spezies nun Kraken.<br><br>
    Sie kommunizieren mit euch, jedoch ergibt sich die Nachricht erst, <br>wenn ihr die Reihenfolge der Farben korrekt wiederholt.<br><br>
    Erst dann erfährt ihr, ob sie feindlich oder freundlich sind.
  </p>
</div>
</body>
</html>