<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Meteoriten</title>
    <style>.rot {color:red} 
    	.blau {color:blue}
    	.gruen {color:green}
    	.orange {color:orange}
    	.lila {color:purple}
    	.gelb {color:yellow}
     </style>

</head>

<body>
	
    <p id="5">
        Ihr gerät in einen Metereoiden Schauer, durch welchen ihr durch navigiert:
        <br>
        Euer Schiff, die USS Brandad ist ein sehr robustes Forschungs- und Kampf Schiff.
        <br>
        Denn man weiß ja nie, neu entdeckte Spezies mögen nicht immer freundlich sein.
        <br>
        Eure Schilder waren am Anfang eurer Reise bei 100% (Schiffs Power).
        <br>
        Je Metereoiden Einschlag verliert ihr 10% Schild Power.
        <br>
        Habt ihr keine Schilder mehr, so seid ihr ausgeliefert und müsst leider sterben!
        <br><br>
        Aufgabe:
        <br>
        Es wird eine zufällige Anzahl von 3-7 Einschlägen geben.
        <br>
        Um einem Einschlag ausweichen zu können, muss der Spieler die Farbe des Farb-Wortes wiederholen,
        <br>
        welches ihm 2 Sekunden lang eingeblendet wird. Er hat weitere 3 Sekunden Zeit,
        <br>
        um die Farbe (nicht, was es ist, sondern, was es beschreibt) ein zu geben.
        <br>
        Damit der Benutzer sieht, wie lange er hat, läuft ein Timer nebenher.
        <br>
        Die Wortfarbe und das Farbwort dürfen auch mal das gleiche sein ;-)
        Klein- / Großschreibung ist egal
    </p>
    
    <p th:text="'Runden verbleibend: ' + ${runden}"></p>

    <p id="schiffpower" th:text="'Deine Schiffspower: ' + ${schiffpower} + ' Prozent'"></p>

    <p id="meteorit" th:class="${textfarbe}" th:text="${farbwort}">
    </p>

    <form method="Post">
        <label for="meteoriten_farbe">Farbe des Meteoriten:</label>
        <input type="text"
               name="meteoriten_farbe">
        <button>Ausweichen!</button>
        <input type="hidden" name="farbwort" th:value="${farbwort}">
        <input type="hidden" name="runden" th:value="${runden}">
    </form>
    
</body>

<script>

</script>

</html>